.content-section {
  margin-top: 30px;
}

.items-section {
  margin-top: 30px;
}

.dropdown-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.dropdown-label {
  width: 100px;
  padding: 5px 0 5px 0;
}

.dropdown-option {
  width: 35%;
}

@media screen and (max-width: 760px) {
  .dropdown-option {
    width: 100%;
  }
}
